@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --primary1:#FFCE00;
    --primary2:#E00000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    top: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;

}

div > a,div > a:hover {
    text-decoration:none;
}

.html {
    font-size: 62.5%;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    /* height: 3000px; */
}
.navbar{
    height: 80px;
    background-color: var(--primary1);
    display: flex;
    position: sticky;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu_full{
    margin: 15px 20px 20px 20px;
    font-size: 22px;
    font-weight: 450;
    margin-left: auto;
    margin-right: 150px; /*nav irght margin*/
}
.navbar .menu_full a{
    margin-left: 20px;
    color: #000000;
}
.navbar .menu_full a:hover{
    color: var(--primary2);
    transition: 0.3s;
    text-decoration: none;
}
.navbar .hamburger-menu{
    display: none;
}

.navbar .logo img{
    height: 60px;
    margin: 0px 0 15px 150px; /*nav left margin*/

}
.navbar .namalogo img{
    height: 60px;
    margin: 0px 0  10px 30px;
}
.navbar .namalogomobile img{
    display: none;
}

/* end nav */
.carousel-inner{
    max-width: 540px;
}

.container-top{
    /* border: 1px solid red;  */
    width: 100%;
    margin-top: 50px;
}
.container-top .bg-add{
    background-color: rgb(240, 240, 240);
    height: 600px;
    width: 100%;
}
.container-top .fasilitas-1{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    flex-direction: row;
}
.container-top .fasilitas-1 .child-1{
    border: 1px solid red;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
}
.container-top .fasilitas-1 .child-1 img {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    height: 540px;
    max-width: 540px;
    border: 1px solid red;
}

.container-top .fasilitas-1 .child-2{
    border: 1px solid red;
    padding: 0 30px;
    display: flex;
    align-items: center;
    padding: 100px auto;
    width: 50%;
}
.container-top .fasilitas-1 .child-2 .wrapped{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
/* fasilitas 2 */

.container-top .fasilitas-2{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1200px;
    height: 640px;
    margin: 0 auto;
    flex-direction: row;
}
.container-top .fasilitas-2 .child-1{
    border: 1px solid red;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
}
.container-top .fasilitas-2 .child-1 img{
    display: block;
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    height: 540px;
    max-width: 540px;
    border: 1px solid red;
}
.container-top .fasilitas-2 .child-2{
    border: 1px solid red;
    padding: 0 30px;
    display: flex;
    align-items: center;
    padding: 100px auto;
    width: 50%;
}
.container-top .fasilitas-2 .child-2 .wrapped{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}



@media (max-width: 1280px) {
    .navbar .logo img{
        margin-left:100px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin-right: 100px; /*nav irght margin*/
    }
}
@media (max-width: 1200px) {
    .container-top .fasilitas-1,
    .container-top .fasilitas-2{
        max-width: 1024px;
    }
    .container-top .fasilitas-1 .child-1 img,
    .container-top .fasilitas-2 .child-1 img{
        width: 100%;
    }
}
@media (max-width: 1024px) {
    /*navbar sticky on top adjust margin left & right*/
    .navbar .logo img{
        margin-left: 50px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin-right: 50px; /*nav irght margin*/
    }
    .container-top .fasilitas-1,
    .container-top .fasilitas-2{
        max-width: 1024px;
    }
    .container-top .fasilitas-1 .child-1{
        justify-content: flex-end;
        align-content: stretch;
    }
    .container-top .fasilitas-1 .child-2 .wrapped,
    .container-top .fasilitas-2 .child-2 .wrapped{
        justify-content: flex-start;
        width: 90%;
    }
    .container-top .fasilitas-1 .child-1 img{
        justify-content: flex-end;
    }
    .container-top .fasilitas-1 .child-1 img,
    .container-top .fasilitas-2 .child-1 img{
        width: 95%;
    }
    /* .container-top .fasilitas-2 .child-1 img{ */
    /* 2 */
    .container-top .fasilitas-2 .child-1{
        justify-content: flex-start;
        align-content: stretch;
    }
}

@media (max-width: 880px) {
    /*navbar sticky on top adjust margin left & right*/
    .navbar .logo img{
        margin-left: 20px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin: 15px 0px 20px 20px;
        font-size: 18px;
    }
    .navbar .menu_full a{
        margin-left: 20px;
        color: #000000;
    }
}

@media (max-width: 768px) {
    .navbar{
        height: 80px;
        position: fixed;
    }

    .namalogo {
        margin: 0;
    }
    
    .menu_full {
        font-size: 22px;
        font-weight: 450;
        margin-right: 150px; /* Right margin for the menu */
    }
    
    .menu_full a {
        margin-left: 20px;
        color: #000000;
    }
    
    .hamburger-menu {
        margin-left: 20px; /* Left margin for the hamburger menu */
        justify-content: flex-start; /* Align the hamburger menu to the right */
    }
    
    .hamburger-menu .menu__box {
        text-align: left;
    }

    .namalogo {
        display: none; 
        /* nama logo ada 2, mobile and desktop */
    }
    .logo{
        display: none;
    }
    
    .navbar .namalogomobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }
    
    .navbar .namalogomobile img{
        display: flex;
        height: 100%; 
    }

    .navbar .hamburger-menu{
        display: flex;
        
    }
    .navbar .menu_full{
        display: none;
    }
    
    #menu__toggle {
        position: fixed;
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        margin: 7 10 30 30;
        width: 40px;
        height: 60px;
        cursor: pointer;
        z-index: 1;
        /* background-color: #b9b6b6; */
    }
    
    .menu__btn > span{
        margin: 35px 0 0 20px ;
        
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #000000;
        transition-duration: .25s;
        border-radius: 5px;
    
    }
    .menu__btn > span::before {
        content: '';
        top: -12px;
    }
    .menu__btn > span::after {
        content: '';
        top: 12px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #adadad;
    }
    /* narvabr end */


    .container-top{
        margin-top: 80px;
    }
    .container-top .fasilitas-1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
    }
    .container-top .fasilitas-1 .child-1,
    .container-top .fasilitas-1 .child-2{
        width: 550px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        max-width: none;
    }
    .container-top .fasilitas-1 .child-2 h1{
        margin: 15px auto;
    }
    .container-top .fasilitas-1 .child-2 .wrapped{
        width: 85%;
    }
    .container-top .fasilitas-1 .child-1 img{
        overflow: hidden;
        object-fit: cover;
        height: 550px;
        width: 550px;
    
    }
    /* 2 */

    .container-top .fasilitas-2{
        height: 800px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* margin-top: 160px; */
    }
    .container-top .fasilitas-2 .child-1,
    .container-top .fasilitas-2 .child-2{
        width: 550px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        max-width: none;
    }
    .container-top .fasilitas-2 .child-2 h1,h1{
        margin: 10px auto;
        font-size: 30px;
    }
    .container-top .fasilitas-2 .child-2 .wrapped{
        width: 85%;
    }
    .container-top .fasilitas-2 .child-1 img{
        overflow: hidden;
        object-fit: cover;
        height: 550px;
        width: 550px;
    
    }
    .container-top .bg-add{
        height: 800px;
    }


}
@media (max-width: 550px) {
    .container-top .fasilitas-1 .child-1,
    .container-top .fasilitas-1 .child-2,
    .container-top .fasilitas-2 .child-1,
    .container-top .fasilitas-2 .child-2{
        width: 100%;
    }
    .container-top .fasilitas-1 .child-1 img,
    .container-top .fasilitas-2 .child-1 img{
        width: 98%;
    }   
}
@media (max-width: 480px) {
    html {
        font-size: 75%;
    }
    .navbar .hamburger-menu{
        margin-left: 10px;
    }
    .container-top .fasilitas-1,
    .container-top .fasilitas-2{
        margin-top: 0;
        height: 600px;
    }
    .container-top .fasilitas-1 .child-1 img,
    .container-top .fasilitas-2 .child-1 img{
        height: 400px;
    }
    .container-top{
        height: 620px;
        
    }
    .container-top .bg-add{
        height: 600px;
    }
    .menu__btn > span{
        margin: 35px 0 0 10px ;
    }
}
@media (max-width: 390px) {
    .menu__btn > span{
        margin: 35px 0 0 0px ;
    }
    .container-top .fasilitas-2 .child-2 h1,h1{
        font-size: 20px;
    }
    .container-top .fasilitas-1 .child-1 img,
    .container-top .fasilitas-2 .child-1 img{
        height: 350px;
    }

}