@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --primary1:#FFCE00;
    --primary2:#E00000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    top: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;

}

div > a,div > a:hover {
    text-decoration:none;
}

.html {
    font-size: 62.5%;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    /* height: 3000px; */
    transition: transform 0.9s ease;
}
.navbar{
    height: 80px;
    background-color: var(--primary1);
    display: flex;
    position: sticky;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu_full{
    margin: 15px 20px 20px 20px;
    font-size: 22px;
    font-weight: 450;
    margin-left: auto;
    margin-right: 150px; /*nav irght margin*/
}
.navbar .menu_full a{
    margin-left: 20px;
    color: #000000;
}
.navbar .menu_full a:hover{
    color: var(--primary2);
    transition: 0.3s;
    text-decoration: none;
}
.navbar .hamburger-menu{
    display: none;
}

.navbar .logo img{
    height: 60px;
    margin: 0px 0 15px 150px; /*nav left margin*/

}
.navbar .namalogo img{
    height: 60px;
    margin: 0px 0  10px 30px;
}
.navbar .namalogomobile img{
    display: none;
}

/* end nav */

.line-hl{
    border-top: 2px solid red;
    width: 50%;
    margin: 0px auto;

}

.container{
    margin-top: 50px;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}

.child{
    flex: 1;
    /* border: 2px solid black; */
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
    height: 550px;
    text-align: center;
    overflow: hidden;
    white-space: wrap;
    width: 50%; 
    box-sizing: border-box;
    padding: 5px;
    /* transition: transform 0.3s ease; */
    
}
.child .image-area img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.child .desc-area h3{
    padding: 10px 10px 0 10px;
}
.child .desc-area p{
    padding: 0px 20px 0 20px;
    text-overflow: ellipsis;
}

.child:first-child {
    margin-right: 80px;
}

.child:hover{

    transform: unset;
    /* scale(1.1) */
}




@media (max-width: 1600px) {
    .container{
        width: 80%;
    }
}


@media (max-width: 1280px) {
    .navbar .logo img{
        margin-left:100px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin-right: 100px; /*nav irght margin*/
    }
    .child {
        width: 100%; /* Display one item per row */
    }
    .container{
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    /*navbar sticky on top adjust margin left & right*/
    .navbar .logo img{
        margin-left: 50px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin-right: 50px; /*nav irght margin*/
    }

}

@media (max-width: 880px) {
    /*navbar sticky on top adjust margin left & right*/
    .navbar .logo img{
        margin-left: 20px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin: 15px 0px 20px 20px;
        font-size: 18px;
    }
    .navbar .menu_full a{
        margin-left: 20px;
        color: #000000;
    }
}

@media (max-width: 768px) {
    .navbar{
        height: 80px;
    }

    .namalogo {
        margin: 0;
    }
    
    .menu_full {
        font-size: 22px;
        font-weight: 450;
        margin-right: 150px; /* Right margin for the menu */
    }
    
    .menu_full a {
        margin-left: 20px;
        color: #000000;
    }
    
    .hamburger-menu {
        margin-left: 20px; /* Left margin for the hamburger menu */
        justify-content: flex-start; /* Align the hamburger menu to the right */
    }
    
    .hamburger-menu .menu__box {
        text-align: left;
    }

    .namalogo {
        display: none; 
        /* nama logo ada 2, mobile and desktop */
    }
    .logo{
        display: none;
    }
    
    .navbar .namalogomobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }
    
    .navbar .namalogomobile img{
        display: flex;
        height: 100%; 
    }

    .navbar .hamburger-menu{
        display: flex;
        
    }
    .navbar .menu_full{ 
        display: none;
    }
    
    #menu__toggle {
        position: fixed;
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    
    .menu__btn {
        position: fixed;
        margin: 7 10 30 30;
        width: 40px;
        height: 60px;
        cursor: pointer;
        z-index: 1;
    }
    
    .menu__btn > span{
        margin-top: 30px;
        
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #000000;
        transition-duration: .25s;
        border-radius: 5px;
    
    }
    .menu__btn > span::before {
        content: '';
        top: -12px;
    }
    .menu__btn > span::after {
        content: '';
        top: 12px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 75%;
    }
    .navbar .hamburger-menu{
        margin-left: 10px;
    }
    .child{
        height: 400px;
        width: 120%;
        margin-left: -25px;
        
    }
    .child .image-area img{
        height: 280px;
        object-fit: cover;
    }

}
