@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --primary1:#FFCE00;
    --primary2:#E00000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    top: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;

}

div > a,div > a:hover {
    text-decoration:none;
}

.html {
    font-size: 62.5%;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    /* height: 3000px; */
}
#shownav{
    top: -80px;
    transition: top 0.3s ease;
}
.navbar{
    height: 80px;
    background-color: var(--primary1);
    display: flex;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu_full{
    margin: 15px 20px 20px 20px;
    font-size: 22px;
    font-weight: 450;
    margin-left: auto;
    margin-right: 150px; /*nav irght margin*/
}
.navbar .menu_full a{
    margin-left: 20px;
    color: #000000;
}
.navbar .menu_full a:hover{
    color: var(--primary2);
    transition: 0.3s;
    text-decoration: none;
}
.navbar .hamburger-menu{
    display: none;
}

.navbar .logo img{
    height: 60px;
    margin: 0px 0 15px 150px; /*nav left margin*/

}
.navbar .namalogo img{
    height: 60px;
    margin: 0px 0  10px 30px;
}
.navbar .namalogomobile img{
    display: none;
}

/* navbar end */


/* top bar in image start */
.container-satu{
    position: relative; 
    /* this causing navbar container 1 ilang */
}
.container-satu .nav_top{
    position: absolute;
    height: 80px;
    display: flex;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

.container-satu .nav_top .menu_top{
    margin: 25px 20px 20px 20px;
    font-size: 22px;
    font-weight: 450;
    margin-left: auto;
    margin-right: 150px; 
}
.container-satu .nav_top .menu_top a{
    margin-left: 20px;
    color: #ffffff;
}
.container-satu .nav_top .menu_top a:hover{
    color: var(--primary2);
    transition: 0.3s;
}   
.container-satu .nav_top .logo img{
    height: 80px;
    margin: 5px 0 0 150px; /*navbar-bg left margin*/
}

.container-satu .bgimage{
    margin-top: -300px;
}
.container-satu .bgimage img{
    width: 100%;
    display: block;
    filter: brightness(1);
    z-index: 2;

}
.container-satu .srlogonama{
    text-align: left;
}
.container-satu .srlogonama img{
    /* height: 200%; */
    margin: 5px 0 0 150px;
}

#overlaynav{
    position: relative;
    /* change position */
    z-index: 3;
    top: 0; 
    color: #fff; 
    padding: 10px 20px; 
    text-align: center;
    height: 100px;
    display: flex;
}

#overlaybtn{
    /* gambar btn*/
    display: block;
    position: absolute;
    z-index: 2;
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    text-align: center;

}


#overlaynamalogo{
    /* gambar tulisan sari rasa */
    display: none;
    position: absolute;
    z-index: 2;
    top: 55%; 
    left: 45.5%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    text-align: center;
    height: 100px;
}
.container-satu .btn-centered{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.container-satu .btn-centered .btn-contact {
    background-color: var(--primary2); /* Green */
    border: none;
    color: white;
    padding: 18px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.4s;
    width: 250px;
    height: 60px;
}

.container-satu .btn-centered .btn-contact:hover {
    cursor: pointer;
    transform: scale(1.15);
}
/* container 2 - Fasilitas*/
.container-dua{
    padding-top: 100px;
    display: unset;
}
.container-dua h2{
    text-align: center;
}

.container-dua .hr-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-dua .hr-center .line-h2{
    width: 5%;
    border-top: 4px solid var(--primary2);
    margin: 5px 0 15px 0;
}

.container-dua .carousell{
    width: 80%;
    margin: auto;
}
.container-dua .carousell img{
    height: 640px;
    object-fit: cover;
    /* filter: brightness(0.5); */
}
.container-dua .carousell .carousel-indicators{
    position: absolute;
}
.container-dua .carousell .carousel-caption{
    text-align: center;
    position: static;
    margin-top: -120px;
    background-color: #000000;

}
/*  */

/* .container-dua .icon-set{
    width: 1280px;
    margin: 100px auto 0px auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.container-dua .icon-set img{
    height: 60px;
    margin-bottom: 10px;
}
.icon-email img{
    height: 10px;
} */

.container-dua .grandparent{
    /* border: 1px solid black; */
    /* margin: 10px;
    padding: 10px; */
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.container-dua .grandparent .parent {
    display: inline-block;
    /* border: 1px solid rgb(0, 60, 255); */
    /* padding: 12px; */
    vertical-align: bottom;
}
.container-dua .grandparent .parent .child {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 20px;
    margin: 0px;
    width: 250px;
    word-wrap: break-word;
    vertical-align: middle;
}
.container-dua .grandparent .parent .child img{
    height: 60px;
}



/* container 3 - Fasilitas*/

.container-tiga .info .hr-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#line-1{
    width: 50%;
    margin: 5px 0 15px 0;
    border: 1px solid #E20D0D;
    align-items: center;
}
.container-tiga {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin: 6% auto 0;
    position: relative; /* Add position relative to the container */
    z-index: 2;
    height: 1080px;
}
.container-tiga h1{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    padding: 10px;
    border-bottom: 4px solid var(--primary2);

    
}
/* Add a ::before pseudo-element to create a blurred background overlay */
.container-tiga::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background-image: url('../img/highlight-sarirasa-bg.png'); /* Update the path to your image */
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Place it behind the content */
  }

.single-card {
	position: relative;
	width: 400px;
	height: 550px;
	margin: 200px 15px 15px 15px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
	overflow: hidden;
	background: #f7f7f7;
	transition: all 0.8s ease-in-out;
    z-index: 1;
}
.single-card:hover {
	transform: translateY(-10px);
}
.single-card .img-area {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.single-card .img-area img {
	width: 100%;
	height: 100%;
    
	object-fit: cover;
	transition: transform 0.3s ease;
}
.single-card .img-area:hover img {
	transform: scale(1);
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 174, 255, 0.8);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.single-card:hover .overlay {
	opacity: 1;
}
/* .add-to-cart, .view-details {
	background-color: #fff;
	color: #333;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-bottom: 10px;
}
.add-to-cart:hover, .view-details:hover {
	background-color: orangered;
	color: #fff;
	border: none;
} */
.info {
	padding: 10px;
	text-align: center;
	color: rgba(0, 0, 0 , 0.7)
}
.info h3 {
	margin: 15px 0 0px;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}
.info .price {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	color: aqua;
}

#overlayheadhl{
    position: absolute;
    z-index: 2;
    top: 0; 
    color: #000000; 
    text-align: center;
    display: flex;
}




/* container 4 */
.container-empat{
    display: unset;
    position: relative;
    z-index: 2;
}
.container-empat .box-parent{
    height: 400px;
    width: 60%;
    background-color: #ffffff;
    margin: -100px auto 0 auto;
    display: flex;
    box-shadow: 0px 0px 100px 10px #969696;
    flex-direction: row;
}
.container-empat .box-parent .child-1{
    /* background-color: #E20D0D; */
    /* width: 40%; */
    flex: 4;
    margin: 45px 80px 45px 40px;
}
.container-empat .box-parent .child-1 h2{
    font-weight: 700;
    font-size: 36px;
}

.container-empat .box-parent .child-1 .line-h2{
    width: 25%;
    margin: 10px 0 45px 0;
    border: 2px solid #E20D0D;
    align-items: center;
}

.container-empat .box-parent .child-2{
    /* width: 60%; */
    flex: 5;
    margin: 30px 35px 30px 0px;
} 
.container-empat .box-parent .child-1 p{
    font-size: 20px;
    font-weight: 400;
} 
/* .container-empat .box-parent .child-1,
.container-empat .box-parent .child-2{
    margin: 30px;
} */




/* footer */
footer{
    margin-top: 100px;
    position: unset;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #000000;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content .foot-logo img{
    height: 60px;
}
.footer-content p{
    max-width: 700px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 3px -55px;
}
.socials li{
    margin: unset;
    padding: 5px;
    border: 1.5px solid rgb(117, 117, 117, 15%);
    margin-left: 20px;
    border-radius: 100px;
}
.socials a{
    text-decoration: none;
    color: #000000;
}
.footer-bottom{
    background: #ffffff;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


@media (max-width: 1600px) {
    .container-tiga h1{
        text-align: center;
        margin-top: 50px;
        font-weight: 800;
        
    }
    .single-card {
        width: 370px;
        height: 480px;
        margin: 150px 15px 15px 15px;
    }
    .single-card:hover {
        transform: translateY(-10px);
    }
    .single-card .img-area {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .single-card .img-area img {
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        transition: transform 0.3s ease;
    }
    .container-empat .box-parent{
        width: 70%;
    }
}

@media (max-width: 1280px) {
    .container-satu .bgimage{
        margin-top: -100px;
    }
    .navbar .logo img{
        margin-left:100px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin-right: 100px; /*nav irght margin*/
    }
    /* .container-dua .icon-set{
        width: 1000px;
        flex-direction: row;

    } */
    .container-dua .grandparent .parent .child{
        width: 220px;
    }
    .container-dua .carousell{
        width: 1000px;
    }
    .container-empat .box-parent .child-1 .line-h2{
        margin: 10px 0 15px 0;
    }
    
}

@media (max-width: 1200px) {
    .container-empat .box-parent{
        margin-top: 400px;
    }

}
@media (max-width: 1024px) {
    .container-satu .bgimage{
        margin-top: -80px; 
    }
    /*navbar on bg*/
    .container-satu .nav_top .logo img{
        height: 80px;
        margin: 5px 0 0 50px; /*navbar-bg left margin*/
    }
    .container-satu .nav_top .menu_top{
        margin-right: 50px; /*navbar-bg right side margin*/
    }

    /*navbar sticky on top adjust margin left & right*/
    .navbar .logo img{
        margin-left: 50px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin-right: 50px; /*nav irght margin*/
    }
    /* .container-dua .icon-set{
        width: 870px;
        flex-direction: row;

    }
    
    .container-dua .icon-set img{
        height: 55px;
        width: 60px;
    } */
    .container-dua .grandparent .parent .child{
        width: 200px;
    }
    .container-dua .carousell{
        width: 870px;
    }
    .container-empat .box-parent{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        height: 768px;
    }
    .container-empat .box-parent .child-2{
        width: 90%;
        padding: 0 10px 0 10px;
        margin: 0 auto 30px auto;
    }

    
    
}
@media (max-width: 880px) {
    /*navbar sticky on top adjust margin left & right*/
    .navbar .logo img{
        margin-left: 20px; /*nav left margin*/
    
    }
    .navbar .menu_full{
        margin: 15px 0px 20px 20px;
        font-size: 18px;
    }
    .navbar .menu_full a{
        margin-left: 20px;
        color: #000000;
    }
    /* .container-dua .icon-set img{
        height: 35px;
        width: 40px;
    }*/
    .container-dua .carousell{
        width: 750px;
    } 
    .container-dua .grandparent .parent .child{
        width: 180px;
        padding: 20px 10px;
    }
    .container-dua .grandparent .parent .child p{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    
.container-satu{
    background-color: unset;
}
.navbar{
    height: 80px;
    position: sticky;
}
.namalogo {
    margin: 0;
}

.menu_full {
    font-size: 22px;
    font-weight: 450;
    margin-right: 150px; /* Right margin for the menu */
}

.menu_full a {
    margin-left: 20px;
    color: #000000;
}

.hamburger-menu {
    margin-left: 20px; /* Left margin for the hamburger menu */
    justify-content: flex-start; /* Align the hamburger menu to the right */
}


.hamburger-menu .menu__box {
    text-align: left;
}


#shownav{
    top: 0px;
    /* position: sticky; */
}

.container-satu .logo , .navbar .logo{
    display: none;
}
.namalogo {
    display: none; 
    /* nama logo ada 2, mobile and desktop */
}


.navbar .namalogomobile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.navbar .namalogomobile img{
    display: flex;
    height: 100%; 
}
.container-satu .bgimage{
    margin-top: 0px;
}
.container-satu .menu_top{
    display: none;
}
.navbar .hamburger-menu{
    display: flex;
    
}
.navbar .menu_full{
    display: none;
}

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    margin: 7 10 30 30;
    width: 40px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
    /* background-color: #b9b6b6; */
}


.menu__btn > span{
    margin-top: 30px;
    
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #000000;
    transition-duration: .25s;
    border-radius: 5px;

}
.menu__btn > span::before {
    content: '';
    top: -12px;
}
.menu__btn > span::after {
    content: '';
    top: 12px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}



/* .container-dua .icon-set{
    flex-direction: row;
    word-wrap: break-word;
    align-items: flex-start;
}
.container-dua .icon-set .icon{
    max-width: 150px;
    
}

.container-dua .icon-set img{
    height: 35px;
    width: 40px;
} */
.container-dua .carousell{
    width: 90%;
}
.container-dua .carousell img{
    height: 400px;
}
.container-empat .box-parent{
    margin-top: 1200px;
}

.container-dua .grandparent .parent .child{
    width: 150px;
    background-color: #d3d3d3;
}
.container-dua .grandparent .parent .child img{
    height: 40px;
}
}

@media (max-width: 480px) {
    html {
        font-size: 75%;
    }
    .navbar .hamburger-menu{
        margin-left: 0px;

        
    }


}

@media (max-width: 320px) {

}

@media (orientation: landscape) and (max-height: 500px) {

}
