.grandparent{
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.parent {
    display: inline-block;
    border: 1px solid rgb(12, 12, 12);
    padding: 1rem 1rem;
    vertical-align: middle;
}
.child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}